/not-enough-crashes/*
options.txt
optionsof.txt
optionsshaders.txt
knownkeys.txt
/kubejs/exported/*
/dumps/*
/crash-reports/*
config_new_temp*
config.bak*
background*
biomemap*
server-icon*
*/saves/*
/schematics/uploaded/*
*/archived_saves/*
archived_saves/*
cache/*
saves/*
*/screenshots/*
screenshots/*
*/resourcepacks/*
resourcepacks/*
*/patchouli_books/*
patchouli_books/*
*/natives/*
natives/*
*/local/*
local/*
*/logs/*
logs/*
*/journeymap/*
journeymap/*
*/downloads/*
downloads/*
*/backups/*
backups/*
*/.mixin.out/*
.mixin.out/*
*/scriptsFormatted/*
scriptsFormatted/*
*/ESM/*
ESM/*
*/mods/*
mods/*
minecraftinstance.json
patchouli_data.json
realms_persistence.json
TrashSlotState.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
config.json
reauth.toml
servers.dat_old
woot/*
*.dat
!defaultconfigs/*
journeymap/journeymap.log
journeymap/journeymap.log
